body {
    .modal {
        display: none;
        position: fixed;
        z-index: 99;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(86, 97, 87, 0.5);
        .modal-content {
            margin: 15% auto;
            padding: 20px;
            background: rgba(255, 235, 128, 0.5);
            backdrop-filter: blur(500px);
            width: 80%;
            text-align: center;
            border-radius: 30px;
            h2 {
                font-family: 'Avenir Next';
                font-style: normal;
                font-weight: 600;
                font-size: 36px;
                line-height: 40px;
                text-align: center;
                text-transform: uppercase;
                color: #434364;
            }
            h3 {
                font-family: 'Avenir Next';
                font-style: normal;
                font-weight: 600;
                font-size: 28px;
                line-height: 32px;
                text-align: center;
                text-transform: uppercase;
                color: #434364;
            }
            p {
                font-family: 'Avenir Next';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                letter-spacing: 0.5px;
                color: #434364;
            }
        }
    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 80px 130px;



    padding-bottom: 30px;
    background: linear-gradient(180deg, rgba(109, 49, 208, 0.1) 0%, rgba(109, 49, 208, 0.21) 28.65%, rgba(109, 49, 208, 0.475) 53.12%, #6D31D0 100%);
    
    .form {
        max-width: 1180px;
        margin: 0 auto;
        margin-top: 60px;
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background-color: rgba(255, 219, 128, 0.5);
            mix-blend-mode: normal;
            border-radius: 60px;
            padding: 20px 280px;
            & h3 {
                font-family: 'AvenirNextCyr-Medium';
                font-style: normal;
                font-weight: 600;
                font-size: 28px;
                line-height: 32px;
                text-transform: uppercase;
                color: #434364;
                text-align: center;
            }
            .form__data {
                margin-top: 20px;
                display: flex;
                flex-direction: row;
                flex-grow: 1;
                flex-shrink: 1;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 10px;
                div {
                    display: flex;
                    flex-direction: column;
                    input {
                        position: relative;
                    } 
                    .error {
                        position: absolute;
                        margin-top: 40px;
                        padding: 0;
                        font-size: 80%;
                        color: #fff;
                        background-color: #900;
                        border-radius: 0 0 5px 5px;
                        box-sizing: border-box;
                    }
                    .error.active {
                        padding: 0.3em;
                    }
                }
                
                & input {
                    background: #FFFFFF;
                    box-shadow: 0px 4px 8px rgba(28, 37, 44, 0.08);
                    border-radius: 20px;
                    border: 1.5px solid #000;
                    outline: none;
                    width: 280px;
                    height: 47px;
                    &::placeholder {
                        padding: 10px;
                        color: #000;
                    }
                    &:invalid:required {
                        background: rgba(193, 156, 81, 0.3);
                    }
                }
            
            }
            .email {
                display: flex;
                flex-grow: 1;
                height: 200px;
                border-radius: 10px;
                border: 1.5px solid #000;
                resize: none;
                width: 100%;
                margin-top: 20px;
                &:invalid:required {
                    background: rgba(193, 156, 81, 0.3);
                }
                &::placeholder {
                    padding: 10px;
                    color: #000;
                }
            }
            .privacy_policy {
                margin-top: 20px;
                & input {
                    border: 1px solid #FFFFFF;
                    border-radius: 4px;
                    margin-right: 20px;
                }
                & span {
                    font-family: 'AvenirNextCyr-Medium';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.5px;
                    color: #434364;
                }
            }
            button {
                margin-top: 32px;
                padding: 18px 34px;
                font-family: 'AvenirNextCyr-Medium';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 120%;
                text-align: center;
                color: #6D31D0;
                background: #FFDB80;
                box-shadow: 0px 14px 23px rgba(28, 37, 44, 0.08);
                border-radius: 30px;
                opacity: 1;
                border: none;
                cursor: pointer;
            }
        }
    }

    h2  {
        font-family: 'AvenirNextCyr-Medium';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        color: #434364;
    }
    .line {
        width: 380px;
        margin-top: 20px;
        border: 2px solid #FDBFA3;
    }
    .contact__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            & img {
                padding: 6px;
                background: linear-gradient(90deg, #6D31D0 0%, #AB80EF 104.7%);
                border-radius: 20px;
            }
            & p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 32px;
                color: #6D31D0;
                margin-top: 20px;
            }
        }
    }
    
}




@media (max-width: 1407px) {
    .contact .form form {
        padding: 34px 200px;
    }
}

@media (max-width: 1261px) {
    .contact .form form {
        padding: 34px 152px;
    }
}

@media (max-width: 1151px) {
    .contact .form form {
        padding: 16px 60px;
    }
    body .modal .modal-content {
        margin: 35% auto;
    }
}


@media (max-width: 1000px) {
    .contact .form {
        max-width: 600px;

        form {
            .form__data > div > input {
                width: 224px;
            }
        }
    } 
}

@media (max-width: 852px) {
    .contact .form {
        form {
            .form__data > div > input {
                width: 200px;
                height: 35px;
            }
        }
    } 
}


@media (max-width: 806px) {
    .contact .form {
        form {
            padding: 16px 40px;
        }
    } 
}



// @media (max-width: 920px) {
//     .contact .form form {
//         padding: 16px 41px;
//         // .form__data input {
//         //     padding: 12.5px 63px 10.5px 23px;
//         // }
//     }
// }

@media (max-width: 767px) {
    .contact .form form .form__data {
        display: flex;
        flex-direction: column;
        width: 100%;
        div > input {
            width: 100%;
        }
    }
}


@media (max-width: 566px) {
    .contact {
        padding: 80px 10px;
    }
}