body .question {
  background: -webkit-gradient(linear, left top, left bottom, from(#6D31D0), to(#828CDE));
  background: linear-gradient(180deg, #6D31D0 0%, #828CDE 100%);
  padding: 80px 130px 84px 130px;
}
body .question h2 {
  font-family: "AvenirNextCyr-Medium";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 60px;
}
body .question .swiper {
  height: 100%;
  padding-bottom: 60px;
}
body .question .swiper-slide .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 14px 23px rgba(28, 37, 44, 0.08);
          box-shadow: 0px 14px 23px rgba(28, 37, 44, 0.08);
  max-width: 380px;
}
body .question .swiper-slide .content img {
  position: relative;
  max-width: 380px;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}
body .question .swiper-slide .content button {
  position: absolute;
  top: 151px;
  right: 32%;
  font-family: "AvenirNextCyr-Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  background: linear-gradient(90.49deg, #53269D 0%, #6D31D0 100.2%);
  -webkit-box-shadow: 0px 2.7141px 5.42821px rgba(28, 37, 44, 0.08);
          box-shadow: 0px 2.7141px 5.42821px rgba(28, 37, 44, 0.08);
  border-radius: 20px;
  border: none;
  padding: 3px 10.5px;
  text-align: center;
}
body .question .swiper-slide .content .content_describing {
  padding: 10px 30px 40px 30px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
}
body .question .swiper-slide .content .content_describing h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #6D31D0;
  margin: 10px auto;
}
body .question .swiper-slide .content .content_describing p {
  font-family: "AvenirNextCyr-Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #434364;
}
body .question .swiper {
  width: 100%;
  height: 100%;
}
body .question .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .question .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  color: transparent;
  opacity: 1;
  border: 2px solid white;
  background-color: transparent;
}
body .question .swiper-pagination-bullet-active {
  color: #fff;
  background: #FFFFFF;
  width: 12px;
  height: 12px;
}
@media (max-width: 1686px) {
  body .question .swiper-slide .content button {
    top: 150px;
    right: 23%;
  }
}
@media (max-width: 1439px) {
  body .question .swiper-slide .content button {
    right: 40%;
  }
}
@media (max-width: 1276px) {
  body .question .swiper-slide .content button {
    right: 30%;
  }
}
@media (max-width: 1000px) {
  body .question .swiper-slide .content button {
    right: 2%;
  }
}
@media (max-width: 982px) {
  body .question .swiper-slide .content button {
    top: 121px;
    right: 2%;
  }
}
@media (max-width: 858px) {
  body .question .swiper-slide .content button {
    top: 97px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  body .question .swiper-slide .content button {
    top: 134px;
    font-size: 14px;
  }
  body .question {
    padding: 64px 28px 1px 5px;
  }
}
@media (max-width: 667px) {
  body .question .swiper-slide .content button {
    top: 100px;
    font-size: 14px;
  }
}
@media (max-width: 566px) {
  body .question .swiper-slide .content button {
    font-size: 12px;
  }
}
@media (max-width: 499px) {
  body .question .swiper-slide .content button {
    top: 154px;
    left: 275px;
  }
}
@media (max-width: 480px) {
  body .question {
    padding: 64px 28px 1px 42px;
  }
}
@media (max-width: 423px) {
  body .question .swiper-slide .content button {
    top: 132px;
    left: 249px;
  }
}
@media (max-width: 394px) {
  body .question .swiper-slide .content button {
    top: 114px;
    left: 207px;
  }
}
@media (max-width: 354px) {
  body .question .swiper-slide .content button {
    top: 98px;
    left: 172px;
  }
}