@import "../css_elements/menu/menu.css";
@import "../css_elements/footer/footer.css";
@import "../css_elements/form/form.css";
@import "../css_elements/qa/qa.css";

@import "../style.css";

@import "../scss_features/scss_features.scss";


body {
    box-sizing: border-box;

    .invest_relocation {
        background: url("../../img/investment/head.png");
        @include BackgroungCover530PositionCenter();
        &::after {
            content: "";
            display: block;
            width: 580px;
            height: 623px;
            position: absolute;
            top: -31px;
            left: -184px;
            background-image: $GraduallyLineBackgroung;
            opacity: 1;
            filter: blur(25px);
        }
        p {
            position: absolute;
            top: 40%;
            left: 3%;
            z-index: 2;
            @include standardFontMontserrat();
            font-size: 36px;
            line-height: 40px;
            color: #434364;
            text-transform: uppercase;
            width: 350px;
        }
    }


    .benefits {
        display: flex;
        flex-direction: column;
        padding: 80px 130px;
        gap: 53px;
        .type_benefit {
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-start;
            justify-content: space-around;
            gap: 20px;
            &:first-child::before {
                content: "";
                    position: absolute;
                    background: #FFFFFF;
                    opacity: 0.5;
                    transform: matrix(-1, 0, 0, 1, 0, 0);
                    height: 500px;
                    width: 10%;
            }

            &:nth-child(2) {
                display: flex;
                flex-direction: row;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    background: #FFFFFF;
                    opacity: 0.5;
                    transform: matrix(-1, 0, 0, 1, 0, 0);
                    height: 500px;
                    width: 13%;
                }
            }
            &:last-child {
                p {
                    &:nth-child(4) {
                        color: rgba(109, 49, 208, 1);
                    }
                }
            }


            h3 {
                @include standardFontAvenir();
                font-size: 28px;
                line-height: 32px;
                text-transform: uppercase;
                color: #434364;
            }
            
            p,
            li {
                @include standardFontAvenir400();
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.5px;
                color: #434364;
            }
            .text {
                flex-basis: 580px;
                z-index: 9;
            }
            .image {
                max-width: 100%;
                img {
                    width: 100%;
                }
            }
            
        }
    }


    .help {
        display: flex;
        flex-direction: column;
        background: $BackgroundColorContentYellow;
        padding: 80px 130px;
        h2 {
            @include standardFontAvenir();
            font-size: 36px;
            line-height: 40px;
            text-align: center;
            text-transform: uppercase;
            color: #434364;
        }
        .pluses {
            margin-top: 60px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 20px;
            & .pluses_type {
                width: 180px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                
                &:first-child {
                    & img:first-child {
                        background: $typeChoosingDarkBlue;
                        border-radius: $_half;
                        padding: 30px;
                    }                            
                }

                &:nth-child(2) {
                    & img {
                        background: $typeChoosingYellow;
                        padding: 30px;
                        border-radius: $_half;
                    }
                }

                &:nth-child(3) {
                    & img {
                        background: $typeChoosingyBlue; 
                        padding: 25px;
                        border-radius: $_half;
                    }    
                }

                &:nth-child(4) {
                    & img {
                        background: $typeChoosingDarkBlue;
                        padding: 25px;
                        border-radius: $_half;
                    }    
                }

                &:last-child {
                    & img {
                        background: $typeChoosingPink;                       
                        padding: 25px;
                        border-radius: 50%;
                    }
                }
                & .pluses_type_describe {
                    h4 {
                        @include standardFontMontserrat();
                        font-size: 20px;
                        line-height: 32px;
                        text-align: center;
                        color: #6D31D0;
                    }
                    p {
                        @include standardFontAvenir400();
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        letter-spacing: 0.5px;
                        color: #434364;
                    }
                }
            }
        }
    }
}