@import "../scss_features/scss_features.scss";
@import "../style.css";

header {
    .swiper1 {
        max-width: 1440px;
        height: 740px;

        .swiper-wrapper .swiper-slide_1 .content .main_info {
            margin-top: -24px;
        }
        
        .swiper-pagination {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 61.5px;
        }
        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            color: transparent;
            opacity: 1;
            border: 2px solid white;
            background-color: transparent;
          }
          .swiper-pagination-bullet-active {
            color:#fff;
            background: #FFFFFF;
            width: 20px;
            height: 20px;
          }
            
        .swiper-slide {
            position: relative;
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            & .content {
                max-width: 700px;
                position: absolute;
                top: 20px;
                left: 158px;
                font-family: "Montserrat", sans-serif;
                color: #ffffff;
                
                .main_info {
                    margin-top: 44px;
                    & h4:first-child {
                        font-size: 36px;
                        font-weight: 600;
                        text-shadow: 0px 0px 80px #023F76;
                        color: #ffffff;
                    }
                    & h4:nth-child(2) {
                        font-size: 16px;
                        color: #ffffff;
                        font-weight: bold;
                    }
                    & h5 {
                        margin-top: 24px;
                        width: 520px;
                        font-weight: bold;
                        font-size: 16px;
                        letter-spacing: 0.5px;
                        line-height: 24px;
                        font-family: 'AvenirNextCyr-Regular';
                        color: #ffffff;
                    }
                    & button {
                        margin-top: 23px;
                        @include button();
                    }
                }
            }
        }
    }

    .swiper .swiper-slide_1 .content,
    .swiper .swiper-slide_2 .content,
    .swiper .swiper-slide_3 .content,
    .swiper .swiper-slide_4 .content,
    .swiper .swiper-slide_5 .content,
    .swiper .swiper-slide_6 .content {
        top: 180px;
    }
}
