@import "../style.css";

@import "../css_elements/menu/menu.css";
@import "../css_elements/footer/footer.css";
@import "../css_elements/form/form.css";
@import "../css_elements/qa/qa.css";


.our_services {
    font-family: 'AvenirNextCyr-Medium';
    background: linear-gradient(180deg, #828CDE -21.43%, #6D31D0 201.93%);
    padding-bottom: 70px;
   .our_services__title {
        padding-top: 20px;
        text-transform: uppercase;
        margin-bottom: 20px;
        h2 {
            text-align: center;
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            color: #ffffff;
        }
    }
    .line {
        max-width: 380px;
        border: 2px solid #FDBFA3;
        margin: 0 auto;
    }
    .cards {
        margin: 60px 130px 80px 130px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: #FFFFFF;
            box-shadow: 0px 14px 23px rgba(28, 37, 44, 0.08);
            text-align: center;
            border-radius: 20px;
            max-width: 350px;

            .card_describing {
                max-width: 310px;
                margin: 0 auto;
                h3 {
                    color: #434364;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 28px;
                    text-transform: uppercase;
                    width: 175px;
                    margin: 23px auto;
                }
                p {
                    font-weight: 400;
                    font-size: 16px;
                    letter-spacing: 0.5px;
                    color: #434364;
                    margin-top: 20px;
                }
                button {
                    margin-top: 20px;
                    border: none;
                    background: linear-gradient(96.1deg, #FFEB80 -22.07%, #FDBFA3 123.25%);
                    box-shadow: 0px 3.52663px 35.2663px rgba(255, 185, 175, 0.3);
                    border-radius: 88.1657px;
                    padding: 10px 20px;
                    color: #6D31D0;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    font-size: 20px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}


.moving {
    .up_photo,
    .bottom_photo {
        display: none;
    }
    .moving__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 80px;
        margin-bottom: 80px;
        max-width: 100%;
        
        img {
            max-width: 20%;
        }
        .moving__info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 0 70px;
            h3 {
                font-family: 'AvenirNextCyr-Medium';
                font-style: normal;
                font-weight: 600;
                font-size: 40px;
                line-height: 40px;
                text-align: center;
                text-transform: uppercase;  
                color: #434364;
            }
            p {
                margin-top: 33px;   
                font-family: 'AvenirNextCyr-Medium';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                letter-spacing: 0.5px;
                color: #434364;
                max-width: 483px;
            }
            button {
                margin-top: 28px;
                border: none;
                background: linear-gradient(96.1deg, #FFEB80 -22.07%, #FDBFA3 123.25%);
                box-shadow: 0px 3.52663px 35.2663px rgba(255, 185, 175, 0.3);
                border-radius: 88.1657px;
                padding: 10px 20px;
                color: #6D31D0;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 20px;
            }
        }
    }
}


.choosing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #FEFC9E -47.89%, #FDBFA3 126.42%);
    max-width: 100%;
    padding: 80px 133px;
    
    .describe_choosing_cyprus {
        text-align: center;
        color: #434364;
        max-width: 580px;
        h2 {
            font-family: 'AvenirNextCyr-Medium';
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 40px;
            text-transform: uppercase;
        }
        p {
            margin-top: 20px;
            font-family: 'AvenirNextCyr-Medium';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.5px;
        }
    }
    .choosing__types {
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        .choosing__type {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 280px;
            text-align: center;
            &:first-child img {
                background: linear-gradient(180deg, #828CDE -21.43%, #6D31D0 201.93%);
                border-radius: 45%;
                padding: 28px;
            }

            &:nth-child(2) img {
                background: linear-gradient(66.27deg, #FE6F2D -10.45%, #FFD059 76.78%);                border-radius: 800px;
                border-radius: 45%;
                padding: 19px;
            }

            &:nth-child(3) img {
                background: linear-gradient(75.69deg, #828CDE -12.62%, #00B8C3 103.26%);
                border-radius: 45%;
                padding: 25px;
            }

            &:last-child img {
                background: linear-gradient(134.65deg, rgba(255, 185, 175, 0.3) -3.89%, #A651FB 94.34%);
                border-radius: 45%;
                padding: 25px;
            }
            .describe_choosing__type {
                margin-top: 34px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 257px;
                h4  {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 32px;
                    color: #6D31D0;
                }
                p {
                    font-family: 'AvenirNextCyr-Medium';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    letter-spacing: 0.5px;
                    color: #434364;
                }
            }
        }
    }
}


.map {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 81px 50px 10px 129px;
    .cyprus_map {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .cyprus_map_text {
            display: block;
            margin-bottom: 100px;
            h3 {
                font-family: 'AvenirNextCyr-Medium';
                font-style: normal;
                font-weight: 600;
                font-size: 28px;
                line-height: 32px;
                text-transform: uppercase;
                color: #6D31D0;
            }
            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 32px;
                color: #434364;
            }
        }
        img {
            margin-top: 5px;
        }
    }
    .examples {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 480px;
        margin: 0 auto;
        background: #FFFFFF;
        box-shadow: 12.8037px 15.3644px 13px rgba(0, 0, 0, 0.035);
        border-radius: 0px 0px 12px 12px;
        .examples_pictures {
            display: flex;
            gap: 10px;
        }
        .examples_describing {
            display: block;
            text-align: center;
            padding: 17px 50px 28px 50px;
            h4 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 32px;
                color: #434364;
            }
            p {
                margin-top: 10px;
                font-family: 'AvenirNextCyr-Medium';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.5px;
                color: #434364;
                &:last-child {
                    margin-top: 30px;
                }
            }
        }
    }
}

.founder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: linear-gradient(180deg, #828CDE -21.43%, #6D31D0 201.93%);
    padding: 37px 130px;
    h2, p {
        color: #FFFFFF;
    }
    .founder_describing {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        position: relative;
        h2 { 
            font-family: 'AvenirNextCyr-Medium';
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 40px;
            text-transform: uppercase;
        }
        .line {
            width: 447px;
            height: 0px;
            border: 2px solid #FDBFA3;
            position: absolute;
            top: 77px;
            right: 280px;
        }
        p {
            font-family: 'AvenirNextCyr-Medium';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.5px;
            margin-top: 30px;
            margin-right: 120px;
            max-width: 480px;
            &:nth-child(4) {
                margin-top: 32px;
            }
            
        }
        button {
            margin-top: 54.25px;
            border: none;
            background: linear-gradient(96.1deg, #FFEB80 -22.07%, #FDBFA3 123.25%);
            box-shadow: 0px 3.52663px 35.2663px rgba(255, 185, 175, 0.3);
            border-radius: 88.1657px;
            padding: 10px 20px;
            color: #6D31D0;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 20px;
            cursor: pointer;
        }
    }
    .founder_card {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 14px 10px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding: 20px 46px 20px 20px;
        margin-top: 41px;
        .founder_card__name {
            margin-left: 40px;
            h4 {
                margin-top: 24px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 32px;
                color: #6D31D0;
                text-transform: uppercase;
            }
            p {
                margin-top: 15px;
                font-family: 'AvenirNextCyr-Medium';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.5px;
                color: #434364;
            }
            button {
                margin-top: 17px;
                border: none;
                background: linear-gradient(96.1deg, #FFEB80 -22.07%, #FDBFA3 123.25%);
                box-shadow: 0px 3.52663px 35.2663px rgba(255, 185, 175, 0.3);
                border-radius: 88.1657px;
                padding: 10px 20px;
                color: #6D31D0;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 20px;
                cursor: pointer;
            }
        }
    }
}


.how_we_make {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #FEFC9E -47.89%, #FDBFA3 126.42%);
    max-width: 100%;
    padding: 80px 133px;
    h2 {
        font-family: 'AvenirNextCyr-Medium';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 40px;
        text-transform: uppercase;
        text-align: center;
    }
    .how_we_make__types {
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        .how_we_make__type {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 280px;
            text-align: center;
            &:first-child img {
                background: linear-gradient(180deg, #828CDE -21.43%, #6D31D0 201.93%);
                border-radius: 45%;
                padding: 30px;
            }

            &:nth-child(2) img {
                background: linear-gradient(66.27deg, #FE6F2D -10.45%, #FFD059 76.78%);               
                border-radius: 45%;
                padding: 25px;
            }

            &:nth-child(3) img {
                background: linear-gradient(75.69deg, #828CDE -12.62%, #00B8C3 103.26%);
                border-radius: 45%;
                padding: 25px;
            }

            &:last-child img {
                background: linear-gradient(134.65deg, rgba(255, 185, 175, 0.3) -3.89%, #A651FB 94.34%);
                border-radius: 45%;
                padding: 25px;
            }
            .describe_choosing__type {
                margin-top: 34px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 257px;
                h4  {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 32px;
                    color: #6D31D0;
                }
                p {
                    font-family: 'AvenirNextCyr-Medium';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    letter-spacing: 0.5px;
                    color: #434364;
                }
            }
        }
    }
}

.partners.hide_first {
    display: none;
}
.partners {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    max-width: 100%;
    h2 {
        text-align: center;
        font-family: 'AvenirNextCyr-Medium';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        color: #434364;
        margin-top: 80px;
    }
    .images_of_partners {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 80px;
        gap: 30px;
        & img {
            cursor: pointer;
        }
    }
}
