@import "../style.css";

@import "../css_elements/menu/menu.css";
@import "../css_elements/footer/footer.css";
@import "../css_elements/form/form.css";
@import "../css_elements/qa/qa.css";

@import "../scss_features/scss_features.scss";


.our_services {
    background: $BackgroundColorContent;
    padding-bottom: 70px;
   .our_services__title {
        padding-top: 20px;
        text-transform: uppercase;
        margin-bottom: 20px;
        h2 {
            @include standardFontAvenir();
            text-align: center;
            font-size: 36px;
            color: #ffffff;
        }
    }
    .line {
        max-width: 380px;
        border: 2px solid #FDBFA3;
        margin: $marginCenter;
    }
    .cards {
        margin: 60px 130px 80px 130px;
        @include flexRowSpace-BetweenCenter();
        flex-wrap: wrap;
        gap: 20px;
        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: #FFFFFF;
            box-shadow: 0px 14px 23px rgba(28, 37, 44, 0.08);
            text-align: center;
            border-radius: 20px;
            max-width: 350px;

            .card_describing {
                max-width: 310px;
                margin: $marginCenter;
                h3 {
                    color: #434364;
                    @include standardFontAvenir();
                    font-size: 28px;
                    text-transform: uppercase;
                    width: 175px;
                    margin: 23px auto;
                }
                p {
                    font-weight: 400;
                    font-size: 16px;
                    letter-spacing: 0.5px;
                    color: #434364;
                    margin-top: 20px;
                }
                button {
                    margin-top: 20px;
                    font-size: 20px;
                    @include button();
                    margin-bottom: 20px;
                }
            }
        }
    }
}


.moving {
    .up_photo,
    .bottom_photo {
        display: none;
    }
    .moving__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 80px;
        margin-bottom: 80px;
        max-width: 100%;
        
        img {
            max-width: 20%;
        }
        .moving__info {
            @include flexColumnSpace-BetweenCenter();
            margin: 0 70px;
            h3 {
                @include standardFontAvenir();
                font-size: 40px;
                line-height: 40px;
                text-align: center;
                text-transform: uppercase;  
                color: #434364;
            }
            p {
                margin-top: 33px;   
                @include standardFontAvenir400();
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                letter-spacing: 0.5px;
                color: #434364;
                max-width: 483px;
            }
            button {
                margin-top: 28px;
                font-size: 20px;
                @include button();
            }
        }
    }
}


.choosing {
    @include flexColumnSpace-BetweenCenter();
    background: $BackgroundColorContentYellow;
    max-width: 100%;
    padding: 80px 133px;
    
    .describe_choosing_cyprus {
        text-align: center;
        color: #434364;
        max-width: 580px;
        h2 {
            @include standardFontAvenir();
            font-size: 36px;
            line-height: 40px;
            text-transform: uppercase;
        }
        p {
            margin-top: 20px;
            @include standardFontAvenir400();
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.5px;
        }
    }
    .choosing__types {
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 76px;
        .choosing__type {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 280px;
            text-align: center;
            &:first-child img {
                background: $typeChoosingPurple;
                border-radius: $half;
                padding: 28px;
            }

            &:nth-child(2) img {
                background: $typeChoosingYellow;
                border-radius: $half;
                padding: 19px;
            }

            &:nth-child(3) img {
                background: $typeChoosingyBlue;
                border-radius: $half;
                padding: 25px;
            }

            &:last-child img {
                background: $typeChoosingPink;
                border-radius: $half;
                padding: 25px;
            }
            .describe_choosing__type {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 300px;
                h4  {
                    @include standardFontMontserrat();
                    font-size: 30px;
                    line-height: 32px;
                    color: #6D31D0;
                }
                p {
                    @include standardFontAvenir400();
                    font-size: 24px;
                    line-height: 24px;
                    text-align: center;
                    letter-spacing: 0.5px;
                    color: #434364;
                }
            }
        }
    }
}


.map {
    @include flexRowSpace-BetweenCenter();
    padding: 81px 50px 10px 129px;
    .cyprus_map {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .cyprus_map_text {
            display: block;
            margin-bottom: 100px;
            h3 {
                @include standardFontAvenir();
                font-size: 28px;
                line-height: 32px;
                text-transform: uppercase;
                color: #6D31D0;
            }
            p {
                @include standardFontMontserrat();
                font-size: 20px;
                line-height: 32px;
                color: #434364;
            }
        }
        img {
            margin-top: 5px;
        }
    }
    .examples {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 480px;
        margin: $marginCenter;
        background: #FFFFFF;
        box-shadow: 12.8037px 15.3644px 13px rgba(0, 0, 0, 0.035);
        border-radius: 0px 0px 12px 12px;
        .examples_pictures {
            display: flex;
            gap: 10px;
        }
        .examples_describing {
            display: block;
            text-align: center;
            padding: 17px 50px 28px 50px;
            h4 {
                @include standardFontMontserrat();
                font-size: 20px;
                line-height: 32px;
                color: #434364;
            }
            p {
                margin-top: 10px;
                font-family: 'AvenirNextCyr-Medium';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.5px;
                color: #434364;
                &:last-child {
                    margin-top: 30px;
                }
            }
        }
    }
}

.founder {
    @include flexRowSpace-BetweenCenter();
    flex-wrap: wrap;
    background: $BackgroundColorContent;
    padding: 37px 130px;
    h2, p {
        color: #FFFFFF;
    }
    .founder_describing {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        position: relative;
        h2 { 
            @include standardFontAvenir();
            font-size: 36px;
            line-height: 40px;
            text-transform: uppercase;
        }
        .line {
            width: 447px;
            height: 0px;
            border: 2px solid #FDBFA3;
            position: absolute;
            top: 77px;
            right: 280px;
        }
        p {
            @include standardFontAvenir400();
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.5px;
            margin-top: 30px;
            margin-right: 120px;
            max-width: 480px;
            &:nth-child(4) {
                margin-top: 32px;
            }
            
        }
        button {
            margin-top: 54.25px;
            font-size: 20px;
            @include button();
        }
    }
    .founder_card {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 14px 10px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding: 20px 46px 20px 20px;
        margin-top: 41px;
        .founder_card__name {
            margin-left: 40px;
            h4 {
                margin-top: 24px;
                @include standardFontMontserrat();
                font-size: 20px;
                line-height: 32px;
                color: #6D31D0;
                text-transform: uppercase;
            }
            p {
                margin-top: 15px;
                @include standardFontAvenir400();
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.5px;
                color: #434364;
            }
            button {
                margin-top: 17px;
                font-size: 20px;
                @include button();
            }
        }
    }
}


.how_we_make {
    @include flexColumnSpace-BetweenCenter();
    background: $BackgroundColorContentYellow;
    max-width: 100%;
    padding: 80px 133px;
    h2 {
        @include standardFontAvenir();
        font-size: 36px;
        line-height: 40px;
        text-transform: uppercase;
        text-align: center;
    }
    .how_we_make__types {
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        .how_we_make__type {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 280px;
            text-align: center;
            
            .describe_choosing__type {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 257px;
                h4  {
                    @include standardFontMontserrat();
                    font-size: 20px;
                    line-height: 32px;
                    color: #6D31D0;
                }
                p {
                    @include standardFontAvenir400();
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    letter-spacing: 0.5px;
                    color: #434364;
                }
            }
        }
    }
}

.partners.hide_first {
    display: none;
}
.partners {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    max-width: 100%;
    h2 {
        text-align: center;
        @include standardFontAvenir();
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        color: #434364;
        margin-top: 80px;
    }
    .images_of_partners {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 80px;
        gap: 30px;
        & img {
            cursor: pointer;
        }
    }
}
