@import "../style.css";
@import "/css/css_elements/qa/qa.css";
@import "/css/css_elements/footer/footer.css";
@import "/css/css_elements/menu/menu.css";
@import "/css/css_elements/form/form.css";
.our_services {
  font-family: "AvenirNextCyr-Medium";
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-21.43%, #828CDE), color-stop(201.93%, #6D31D0));
  background: linear-gradient(180deg, #828CDE -21.43%, #6D31D0 201.93%);
  padding-bottom: 70px;
}
.our_services .our_services__title {
  padding-top: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.our_services .our_services__title h2 {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  color: #ffffff;
}
.our_services .line {
  max-width: 380px;
  border: 2px solid #FDBFA3;
  margin: 0 auto;
}
.our_services .cards {
  margin: 60px 130px 80px 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.our_services .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 14px 23px rgba(28, 37, 44, 0.08);
          box-shadow: 0px 14px 23px rgba(28, 37, 44, 0.08);
  text-align: center;
  border-radius: 20px;
  max-width: 350px;
}
.our_services .cards .card .card_describing {
  max-width: 310px;
  margin: 0 auto;
}
.our_services .cards .card .card_describing h3 {
  color: #434364;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  text-transform: uppercase;
  width: 175px;
  margin: 23px auto;
}
.our_services .cards .card .card_describing p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #434364;
  margin-top: 20px;
}
.our_services .cards .card .card_describing button {
  margin-top: 20px;
  border: none;
  background: linear-gradient(96.1deg, #FFEB80 -22.07%, #FDBFA3 123.25%);
  -webkit-box-shadow: 0px 3.52663px 35.2663px rgba(255, 185, 175, 0.3);
          box-shadow: 0px 3.52663px 35.2663px rgba(255, 185, 175, 0.3);
  border-radius: 88.1657px;
  padding: 10px 20px;
  color: #6D31D0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.moving .up_photo,
.moving .bottom_photo {
  display: none;
}
.moving .moving__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 80px;
  margin-bottom: 80px;
  max-width: 100%;
}
.moving .moving__content img {
  max-width: 20%;
}
.moving .moving__content .moving__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 70px;
}
.moving .moving__content .moving__info h3 {
  font-family: "AvenirNextCyr-Medium";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #434364;
}
.moving .moving__content .moving__info p {
  margin-top: 33px;
  font-family: "AvenirNextCyr-Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #434364;
  max-width: 483px;
}
.moving .moving__content .moving__info button {
  margin-top: 28px;
  border: none;
  background: linear-gradient(96.1deg, #FFEB80 -22.07%, #FDBFA3 123.25%);
  -webkit-box-shadow: 0px 3.52663px 35.2663px rgba(255, 185, 175, 0.3);
          box-shadow: 0px 3.52663px 35.2663px rgba(255, 185, 175, 0.3);
  border-radius: 88.1657px;
  padding: 10px 20px;
  color: #6D31D0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.choosing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-47.89%, #FEFC9E), color-stop(126.42%, #FDBFA3));
  background: linear-gradient(180deg, #FEFC9E -47.89%, #FDBFA3 126.42%);
  max-width: 100%;
  padding: 80px 133px;
}
.choosing .describe_choosing_cyprus {
  text-align: center;
  color: #434364;
  max-width: 580px;
}
.choosing .describe_choosing_cyprus h2 {
  font-family: "AvenirNextCyr-Medium";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
}
.choosing .describe_choosing_cyprus p {
  margin-top: 20px;
  font-family: "AvenirNextCyr-Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
}
.choosing .choosing__types {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.choosing .choosing__types .choosing__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 280px;
  text-align: center;
}
.choosing .choosing__types .choosing__type:first-child img {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-21.43%, #828CDE), color-stop(201.93%, #6D31D0));
  background: linear-gradient(180deg, #828CDE -21.43%, #6D31D0 201.93%);
  border-radius: 45%;
  padding: 28px;
}
.choosing .choosing__types .choosing__type:nth-child(2) img {
  background: linear-gradient(66.27deg, #FE6F2D -10.45%, #FFD059 76.78%);
  border-radius: 800px;
  border-radius: 45%;
  padding: 19px;
}
.choosing .choosing__types .choosing__type:nth-child(3) img {
  background: linear-gradient(75.69deg, #828CDE -12.62%, #00B8C3 103.26%);
  border-radius: 45%;
  padding: 25px;
}
.choosing .choosing__types .choosing__type:last-child img {
  background: linear-gradient(134.65deg, rgba(255, 185, 175, 0.3) -3.89%, #A651FB 94.34%);
  border-radius: 45%;
  padding: 25px;
}
.choosing .choosing__types .choosing__type .describe_choosing__type {
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 257px;
}
.choosing .choosing__types .choosing__type .describe_choosing__type h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #6D31D0;
}
.choosing .choosing__types .choosing__type .describe_choosing__type p {
  font-family: "AvenirNextCyr-Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #434364;
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 81px 50px 10px 129px;
}
.map .cyprus_map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.map .cyprus_map .cyprus_map_text {
  display: block;
  margin-bottom: 100px;
}
.map .cyprus_map .cyprus_map_text h3 {
  font-family: "AvenirNextCyr-Medium";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  color: #6D31D0;
}
.map .cyprus_map .cyprus_map_text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #434364;
}
.map .cyprus_map img {
  margin-top: 5px;
}
.map .examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 480px;
  margin: 0 auto;
  background: #FFFFFF;
  -webkit-box-shadow: 12.8037px 15.3644px 13px rgba(0, 0, 0, 0.035);
          box-shadow: 12.8037px 15.3644px 13px rgba(0, 0, 0, 0.035);
  border-radius: 0px 0px 12px 12px;
}
.map .examples .examples_pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.map .examples .examples_describing {
  display: block;
  text-align: center;
  padding: 17px 50px 28px 50px;
}
.map .examples .examples_describing h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #434364;
}
.map .examples .examples_describing p {
  margin-top: 10px;
  font-family: "AvenirNextCyr-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #434364;
}
.map .examples .examples_describing p:last-child {
  margin-top: 30px;
}

.founder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-21.43%, #828CDE), color-stop(201.93%, #6D31D0));
  background: linear-gradient(180deg, #828CDE -21.43%, #6D31D0 201.93%);
  padding: 37px 130px;
}
.founder h2, .founder p {
  color: #FFFFFF;
}
.founder .founder_describing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}
.founder .founder_describing h2 {
  font-family: "AvenirNextCyr-Medium";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
}
.founder .founder_describing .line {
  width: 447px;
  height: 0px;
  border: 2px solid #FDBFA3;
  position: absolute;
  top: 77px;
  right: 280px;
}
.founder .founder_describing p {
  font-family: "AvenirNextCyr-Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-top: 30px;
  margin-right: 120px;
  max-width: 480px;
}
.founder .founder_describing p:nth-child(4) {
  margin-top: 32px;
}
.founder .founder_describing button {
  margin-top: 54.25px;
  border: none;
  background: linear-gradient(96.1deg, #FFEB80 -22.07%, #FDBFA3 123.25%);
  -webkit-box-shadow: 0px 3.52663px 35.2663px rgba(255, 185, 175, 0.3);
          box-shadow: 0px 3.52663px 35.2663px rgba(255, 185, 175, 0.3);
  border-radius: 88.1657px;
  padding: 10px 20px;
  color: #6D31D0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}
.founder .founder_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 14px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 14px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 20px 46px 20px 20px;
  margin-top: 41px;
}
.founder .founder_card .founder_card__name {
  margin-left: 40px;
}
.founder .founder_card .founder_card__name h4 {
  margin-top: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #6D31D0;
  text-transform: uppercase;
}
.founder .founder_card .founder_card__name p {
  margin-top: 15px;
  font-family: "AvenirNextCyr-Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #434364;
}
.founder .founder_card .founder_card__name button {
  margin-top: 17px;
  border: none;
  background: linear-gradient(96.1deg, #FFEB80 -22.07%, #FDBFA3 123.25%);
  -webkit-box-shadow: 0px 3.52663px 35.2663px rgba(255, 185, 175, 0.3);
          box-shadow: 0px 3.52663px 35.2663px rgba(255, 185, 175, 0.3);
  border-radius: 88.1657px;
  padding: 10px 20px;
  color: #6D31D0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.how_we_make {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-47.89%, #FEFC9E), color-stop(126.42%, #FDBFA3));
  background: linear-gradient(180deg, #FEFC9E -47.89%, #FDBFA3 126.42%);
  max-width: 100%;
  padding: 80px 133px;
}
.how_we_make h2 {
  font-family: "AvenirNextCyr-Medium";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
}
.how_we_make .how_we_make__types {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.how_we_make .how_we_make__types .how_we_make__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
  text-align: center;
}
.how_we_make .how_we_make__types .how_we_make__type:first-child img {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-21.43%, #828CDE), color-stop(201.93%, #6D31D0));
  background: linear-gradient(180deg, #828CDE -21.43%, #6D31D0 201.93%);
  border-radius: 45%;
  padding: 30px;
}
.how_we_make .how_we_make__types .how_we_make__type:nth-child(2) img {
  background: linear-gradient(66.27deg, #FE6F2D -10.45%, #FFD059 76.78%);
  border-radius: 45%;
  padding: 25px;
}
.how_we_make .how_we_make__types .how_we_make__type:nth-child(3) img {
  background: linear-gradient(75.69deg, #828CDE -12.62%, #00B8C3 103.26%);
  border-radius: 45%;
  padding: 25px;
}
.how_we_make .how_we_make__types .how_we_make__type:last-child img {
  background: linear-gradient(134.65deg, rgba(255, 185, 175, 0.3) -3.89%, #A651FB 94.34%);
  border-radius: 45%;
  padding: 25px;
}
.how_we_make .how_we_make__types .how_we_make__type .describe_choosing__type {
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 257px;
}
.how_we_make .how_we_make__types .how_we_make__type .describe_choosing__type h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #6D31D0;
}
.how_we_make .how_we_make__types .how_we_make__type .describe_choosing__type p {
  font-family: "AvenirNextCyr-Medium";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #434364;
}

.partners.hide_first {
  display: none;
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  max-width: 100%;
}
.partners h2 {
  text-align: center;
  font-family: "AvenirNextCyr-Medium";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #434364;
  margin-top: 80px;
}
.partners .images_of_partners {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
  gap: 30px;
}
.partners .images_of_partners img {
  cursor: pointer;
}