@media (max-width: 1434px) {
    .contact .form form {
        padding: 34px 73px;
    }
}

@media (max-width: 1240px) {
    .map {
        padding: 81px 50px 10px 26px;
    }
}
@media (max-width: 1167px) {
    .map {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    } 
}

@media (max-width: 1000px) {  
    header .slider {
        margin-top: 82px;
    }
    
    // slider
    header .swiper {
        .swiper-pagination {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 61.5px;
        }
        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            color: transparent;
            opacity: 1;
            border: 2px solid white;
            background-color: transparent;
          }
          .swiper-pagination-bullet-active {
            color:#fff;
            background: #FFFFFF;
            width: 20px;
            height: 20px;
          }
          .swiper-slide {
            position: relative;
            & .content {
                max-width: 700px;
                position: absolute;
                top: 130px;
                left: 100px;
                font-family: 'Montserrat', sans-serif;
                color: #ffffff;
                .arragements {
                    display: flex;
                    align-items: center;
                    & p {
                        color: #FFDB80;
                        padding: 0 5px;
                        text-transform: uppercase;
                        font-size: 12px;
                        &:not(:first-child) {
                            margin-right: 10px;
                        }
                    }
                }
                .main_info {
                    margin-top: 44px;
                    & h4:first-child {
                        font-size: 36px;
                        font-weight: 600;
                        text-shadow: 0px 0px 80px #023F76;
                        color: #ffffff;
                    }
                    & h4:nth-child(2) {
                        font-size: 16px;
                        color: #ffffff;
                    }
                    & h5 {
                        margin-top: 24px;
                        width: 520px;
                        font-size: 16px;
                        letter-spacing: 0.5px;
                        line-height: 24px;
                        font-family: 'AvenirNextCyr-Regular';
                        font-weight: 400;
                        color: #ffffff;
                    }
                    & button {
                        margin-top: 23px;
                        border: none;
                        background: linear-gradient(96.1deg, #FFEB80 -22.07%, #FDBFA3 123.25%);
                        box-shadow: 0px 3.52663px 35.2663px rgba(255, 185, 175, 0.3);
                        border-radius: 88.1657px;
                        padding: 10px 20px;
                        color: #6D31D0;
                        font-family: 'Montserrat', sans-serif;
                    }
                }
                .advertisement {
                    margin-top: 60px;
                    & h4 {
                        font-weight: 600;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 20px;
                    }
                    .advertisement_types {
                        margin-top: 16px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        max-width: 700px;
                        & div {
                            display: block;
                            background: rgba(255, 255, 255, 0.8);
                            border: 2px solid #FFFFFF;
                            box-shadow: 64.0184px 76.8221px 80px rgba(0, 0, 0, 0.07), 41.4934px 49.7921px 46.8519px rgba(0, 0, 0, 0.0531481), 24.659px 29.5907px 25.4815px rgba(0, 0, 0, 0.0425185), 12.8037px 15.3644px 13px rgba(0, 0, 0, 0.035), 5.21632px 6.25958px 6.51852px rgba(0, 0, 0, 0.0274815), 1.18553px 1.42263px 3.14815px rgba(0, 0, 0, 0.0168519);
                            border-radius: 12px;
                            &:not(:first-child) {
                                margin-left: 40px;
                            }
    
                            & img {
                                width: 129px;
                                height: 123px;
                                padding: 10px 7.5px;
                            }
    
                            & p {
                                padding: 2px 44px 5px 8px;
                                color: #828CDE;
                            }
                        }
                    }
                }
            }
            
        }
        
        & .swiper-slide_2 .content,
        & .swiper-slide_3 .content,
        & .swiper-slide_4 .content,
        & .swiper-slide_5 .content,
        & .swiper-slide_6 .content {
            top: 50px;
        }
        .swiper-slide_5 .content .main_info > h5, h1,
        .swiper-slide_3 .content .main_info > h5, h1,
        .swiper-slide_2 .content .main_info > h5, h1 {
            color: #434364;
        }
        .swiper-slide_3 img {
            background: linear-gradient(180deg, #B7D6EF 0%, rgba(183, 214, 239, 0.6) 52.6%, rgba(183, 214, 239, 0) 100%);
        }

    }
    
    //Our services
    .our_services {
        .cards {
            margin: 60px 130px 80px 130px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            gap: 20px;
        }
    }
    
    //moving 

    .moving {
        max-width: 1000px;
        .moving__content {
          
            .moving__info {
                margin: 0 20px;
            }
        }
        
    }

    // map
    .map {
        
        .cyprus_map {
            .cyprus_map_text {
                display: block;
                text-align: center;
                margin-bottom: 10px;
                h3 {
                    font-family: 'AvenirNextCyr-Medium';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 32px;
                    text-transform: uppercase;
                    color: #6D31D0;
                }
                p {
                    margin-top: 20px;
                }
            }
            img {
                max-width: 100%;
            }
        }
        
    }

    // founder 
    .founder {
        .founder_describing {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            position: relative;
            .line {
                margin-top: 20px;
                width: 447px;
                height: 0px;
                border: 2px solid #FDBFA3;
                position: absolute;
                top: 25px;
                right: 400px;
            }
            p {
                width: 600px; 
            }
        }
    }

    

}





@media (max-width: 858px) {
    
    header .slider .swiper-slide .content {
        top: 110px;
        left: 46px;
        .main_info {
            margin-left: 25px;
        }
        .arragements {
            margin-left: 25px;
        }
        .advertisement {
            margin-top: 70px;
            .advertisement_types {
                & div {
                    &:not(:first-child) {
                        margin-left: 20px;
                    }
                    & img {
                        width: 123px;
                        height: 108px;
                        padding: 10px 7.5px;
                    }
                }
            }
        }
    }

    .choosing .choosing__types {
        gap: 30px;
        .choosing__type {
            max-width: 230px;
            .describe_choosing__type {
                width: 257px;
            }
        }
    }
}




@media (max-width: 768px) {
    .our_services {
        .cards {
            margin: 60px 130px 80px 130px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            gap: 20px;

            .card {
                border-radius: 30px;
                max-width: 580px;
                img {
                    width: 580px;
                }
            }
        }
    }    

    .moving {
        .up_photo,
        .bottom_photo {
            display: block;
            max-width: 100%;
        }
        .moving__content {
            margin-top: 40px;
            margin-bottom: 40px;
            .moving__info {
                margin: 0 auto;
            }
            img {
                display: none;
            }
        }      
    }

    .map .cyprus_map .cyprus_map_text p {
        font-weight: 400;
        font-size: 16px;
    }


    .how_we_make .how_we_make__types {
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        .how_we_make__type {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 200px;
            text-align: center;
        }
    }

    .partners.hide_first {
        display: block;
    }
    .partners {
        display: none;
    }


    
    
    .founder {
        padding: 37px 50px;
    }

    
}

@media (max-width: 755px) {
    .choosing .choosing__types {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 683px) {
    header .slider .swiper-slide .content .advertisement {
        display: none;
    }
}

@media (max-width: 617px) {
    .our_services .cards .card img {
        max-width: 380px;
    }
    
    .founder .founder_describing .line {
        right: 200px;
    }
    .how_we_make .how_we_make__types,
    .choosing .choosing__types {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 566px) {
    

    .founder {
        padding: 37px 0px;
        .founder_describing {
            margin-left: 25px;
            
            .line {
                margin-top: 24px;
                width: 290px;
                right: 120px;
            }
            p {
                max-width: 270px;
                margin-right: 0px;
            }
        }
        
        .founder_card {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px;
            text-align: center;
            margin: 23px auto 0px;
            padding: 20px 50px;
            
            .founder .founder_card .founder_card__name {
                margin-left: 0;
            }
        }
    }
    .contact {
        padding: 80px 62px;
    }
}



@media (max-width: 480px) {    
    header .slider .swiper .swiper-wrapper .swiper-slide_1 .content .advertisement {
        display: none;
    }

    header .slider .swiper .swiper-wrapper .swiper-slide .content {
        left: -23px;
        top: 56px;
        .main_info {
            text-align: center;
            margin-top: 30px;
            & h4:first-child {
                
            }
            & h5 {
                width: 400px;
                margin: 0 auto;
                margin-top: 24px;
            }
            & button {
                margin-top: 23px;
                border: none;
                background: linear-gradient(96.1deg, #FFEB80 -22.07%, #FDBFA3 123.25%);
                box-shadow: 0px 3.52663px 35.2663px rgba(255, 185, 175, 0.3);
                border-radius: 88.1657px;
                padding: 10px 20px;
                color: #6D31D0;
                font-family: 'Montserrat', sans-serif;
            }
        }

        .arragements{
            margin-left: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 10px;
            
            & p {
                color: #FFDB80;
                border-right: #ffffff;
                background: rgba(109, 49, 208, 0.5);
                border-radius: 10px;
                padding: 0 5px;
                text-transform: uppercase;
                font-size: 16px;
            }
            
        }
    }

    .moving .moving__content .moving__info p {
        font-size: 14px;
    }

    .choosing {
        padding: 60px 20px;

        .choosing__types {
            gap: 20px;
            .choosing__type {
                max-width: 200px;
                img {
                    padding: 12px;
                }
                .describe_choosing__type {
                    width: 200px;
                }
            }
        }
    }

    .map  {
        padding: 20px 0px;
        .cyprus_map .cyprus_map_text {
            max-width: 100%;
            margin: 0 auto;
        }
        img {
            max-width: 100%;
        }
        .examples {
            display: none;
        }
    }
    
    

    .how_we_make {
        padding: 80px 50px;
        text-align: center;
        .how_we_make__types{
            gap: 60px;
            .how_we_make__type {
                width: 138px;
                .describe_choosing__type {
                    width: 173px;
                }
            }
        } 
    }
}

@media (max-width: 423px) {
    .map .cyprus_map .cyprus_map_text h3 {
        font-size: 17px;
    }
    .map .cyprus_map .cyprus_map_text p {
        font-size: 14px;
    }
    .map .cyprus_map img {
        max-width: 80%;
    }
}

