@media (max-width: 1000px) {
  header .menu .menu__list {
    display: none;
  }
  header .menu nav .hamb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .menu .popup .menu__list {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 40px 0;
    overflow: auto;
  }
  header .menu .popup .menu__list li, header .menu .popup .menu__list a {
    margin-top: 9px;
  }
  header .menu .popup .menu__list li {
    width: 100%;
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0;
    text-decoration: none;
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #434364;
  }
  header .menu .popup .menu__list li a {
    color: #434364;
  }
  header .menu .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  header .menu .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }
  header .menu .hamb__field.active .bar:nth-child(1) {
    -webkit-transform: translateY(9px) rotate(45deg);
            transform: translateY(9px) rotate(45deg);
  }
  header .menu .hamb__field.active .bar:nth-child(3) {
    -webkit-transform: translateY(-9px) rotate(-45deg);
            transform: translateY(-9px) rotate(-45deg);
  }

  body.noscroll {
    overflow: hidden;
  }

  .menu .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .menu .popup img {
    /* change img to figure!!!! */
  }

  .popup.open {
    left: 0;
    z-index: 100;
  }
  .popup.open .menu__list .menu__sub-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 100%;
    left: 120px;
    border: 1px solid #434364;
    color: #000;
    max-width: 200px;
    padding: 15px;
  }

  header .swiper .swiper-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 61.5px;
  }
  header .swiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    color: transparent;
    opacity: 1;
    border: 2px solid white;
    background-color: transparent;
  }
  header .swiper .swiper-pagination-bullet-active {
    color: #fff;
    background: #FFFFFF;
    width: 20px;
    height: 20px;
  }
  header .swiper .swiper-slide {
    position: relative;
  }
  header .swiper .swiper-slide .content {
    max-width: 700px;
    position: absolute;
    top: 130px;
    left: 100px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
  }
  header .swiper .swiper-slide .content .arragements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .swiper .swiper-slide .content .arragements p {
    color: #FFDB80;
    padding: 0 5px;
    text-transform: uppercase;
    font-size: 12px;
  }
  header .swiper .swiper-slide .content .arragements p:not(:first-child) {
    margin-right: 10px;
  }
  header .swiper .swiper-slide .content .main_info {
    margin-top: 44px;
  }
  header .swiper .swiper-slide .content .main_info h4:first-child {
    font-size: 36px;
    font-weight: 600;
    text-shadow: 0px 0px 80px #023F76;
    color: #ffffff;
  }
  header .swiper .swiper-slide .content .main_info h4:nth-child(2) {
    font-size: 16px;
    color: #ffffff;
  }
  header .swiper .swiper-slide .content .main_info h5 {
    margin-top: 24px;
    width: 520px;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 24px;
    font-family: "AvenirNextCyr-Regular";
    font-weight: 400;
    color: #ffffff;
  }
  header .swiper .swiper-slide .content .main_info button {
    margin-top: 23px;
    border: none;
    background: linear-gradient(96.1deg, #FFEB80 -22.07%, #FDBFA3 123.25%);
    -webkit-box-shadow: 0px 3.52663px 35.2663px rgba(255, 185, 175, 0.3);
            box-shadow: 0px 3.52663px 35.2663px rgba(255, 185, 175, 0.3);
    border-radius: 88.1657px;
    padding: 10px 20px;
    color: #6D31D0;
    font-family: "Montserrat", sans-serif;
  }
  header .swiper .swiper-slide .content .advertisement {
    margin-top: 60px;
  }
  header .swiper .swiper-slide .content .advertisement h4 {
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
  }
  header .swiper .swiper-slide .content .advertisement .advertisement_types {
    margin-top: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 700px;
  }
  header .swiper .swiper-slide .content .advertisement .advertisement_types div {
    display: block;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #FFFFFF;
    -webkit-box-shadow: 64.0184px 76.8221px 80px rgba(0, 0, 0, 0.07), 41.4934px 49.7921px 46.8519px rgba(0, 0, 0, 0.0531481), 24.659px 29.5907px 25.4815px rgba(0, 0, 0, 0.0425185), 12.8037px 15.3644px 13px rgba(0, 0, 0, 0.035), 5.21632px 6.25958px 6.51852px rgba(0, 0, 0, 0.0274815), 1.18553px 1.42263px 3.14815px rgba(0, 0, 0, 0.0168519);
            box-shadow: 64.0184px 76.8221px 80px rgba(0, 0, 0, 0.07), 41.4934px 49.7921px 46.8519px rgba(0, 0, 0, 0.0531481), 24.659px 29.5907px 25.4815px rgba(0, 0, 0, 0.0425185), 12.8037px 15.3644px 13px rgba(0, 0, 0, 0.035), 5.21632px 6.25958px 6.51852px rgba(0, 0, 0, 0.0274815), 1.18553px 1.42263px 3.14815px rgba(0, 0, 0, 0.0168519);
    border-radius: 12px;
  }
  header .swiper .swiper-slide .content .advertisement .advertisement_types div:not(:first-child) {
    margin-left: 40px;
  }
  header .swiper .swiper-slide .content .advertisement .advertisement_types div img {
    width: 129px;
    height: 123px;
    padding: 10px 7.5px;
  }
  header .swiper .swiper-slide .content .advertisement .advertisement_types div p {
    padding: 2px 44px 5px 8px;
    color: #828CDE;
  }
  header .swiper .swiper-slide_2 .content, header .swiper .swiper-slide_3 .content, header .swiper .swiper-slide_4 .content, header .swiper .swiper-slide_5 .content, header .swiper .swiper-slide_6 .content {
    top: 50px;
  }
  header .swiper .swiper-slide_5 .content .main_info > h5, header .swiper h1,
header .swiper .swiper-slide_3 .content .main_info > h5, header .swiper h1,
header .swiper .swiper-slide_2 .content .main_info > h5, header .swiper h1 {
    color: #434364;
  }
  header .swiper .swiper-slide_3 img {
    background: -webkit-gradient(linear, left top, left bottom, from(#B7D6EF), color-stop(52.6%, rgba(183, 214, 239, 0.6)), to(rgba(183, 214, 239, 0)));
    background: linear-gradient(180deg, #B7D6EF 0%, rgba(183, 214, 239, 0.6) 52.6%, rgba(183, 214, 239, 0) 100%);
  }

  .our_services .cards {
    margin: 60px 130px 80px 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }

  .moving {
    max-width: 1000px;
  }
  .moving .moving__content img {
    max-width: 17%;
  }
  .moving .moving__content .moving__info {
    margin: 0 20px;
  }

  .map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
  .map .cyprus_map .cyprus_map_text {
    display: block;
    text-align: center;
  }
  .map .cyprus_map .cyprus_map_text h3 {
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    text-transform: uppercase;
    color: #6D31D0;
  }
  .map .cyprus_map .cyprus_map_text p {
    margin-top: 20px;
  }

  .founder .founder_describing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
  }
  .founder .founder_describing .line {
    margin-top: 20px;
    width: 447px;
    height: 0px;
    border: 2px solid #FDBFA3;
    position: absolute;
    top: 25px;
    right: 400px;
  }
  .founder .founder_describing p {
    width: 600px;
  }

  .contact .form form {
    padding: 16px 60px;
  }

  footer .footer_info {
    padding: 9px 52px 26px 175px;
  }
}