@import "../style.css";
@import "../css_elements/menu/menu.css";
@import "../css_elements/footer/footer.css";
@import "../css_elements/form/form.css";
@import "../css_elements/qa/qa.css";

@import "../scss_features/scss_features.scss";

body {
    .we_are {
        background: url("../../img/about/offer_team_image_1.png");
        @include BackgroungCover530();
      
      p {
        @include standardFontAvenir();
        position: absolute;
        top: 45%;
        left: 10%;
        z-index: 2;
        font-size: 36px;
        line-height: 40px;
        text-transform: uppercase;
        color: #434364;        
      }

      &::after {
        content: "";
        display: block;
        width: 513px;
        height: 623px;
        position: absolute;
        top: -31px;
        left: -35px;
        background-image: $GraduallyLineBackgroung;
        opacity: 1;
        filter: blur(25px);
      }
    }

    .we_are_describing {
        background-color: #6D31D0;
        opacity: 0.8;
        border: 1px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-align: left;
        p {
            @include standardFontMontserrat();
            font-size: 20px;
            line-height: 32px;
            color: #FFFFFF;
            margin: 80px 130px;
        }
    }

    .what_we_do {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        gap: 20px;
        padding: 80px 0px;
        .what_we_do_describing {
            margin-left: 130px;
            h2 {
                @include standardFontAvenir();
                font-size: 40px;
                line-height: 29px;
                text-align: left;
                text-transform: uppercase;
                color: #434364;

            }
            p {
                @include standardFontAvenir400();
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.5px;
                color: #434364;
            }
        }
        .what_we_do_image {
            background: url("/img/about/unsplash_G8ucy10dpM8.png");
            @include BackgroungCover();
            &::before {
                content: "";
                position: absolute;
                background: #FFFFFF;
                opacity: 0.5;
                transform: matrix(-1, 0, 0, 1, 0, 0);
                height: 100%;
                width: 20%;
            }
        }
    }

    .why_we_do {
        display: flex;
        flex-direction: column;
        background: $BackgroundColorContentYellow;
        padding: 80px 130px;
        h2 {
            @include standardFontAvenir();
            font-size: 36px;
            line-height: 40px;
            text-align: center;
            text-transform: uppercase;
            color: #434364;
        }
        .pluses {
            margin-top: 60px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 20px;
            & .pluses_type {
                width: 280px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                
                &:first-child {
                    & img:first-child {
                        background: $typeChoosingPurple;
                        border-radius: $_half;
                        padding: 25px 19px 25px 31px;
                    }                            
                }

                &:nth-child(2) {
                    & img {
                        background: $typeChoosingYellow;
                        padding: 20px;
                        border-radius: $_half;
                    }
                }

                &:nth-child(3) {
                    & img {
                        background: $typeChoosingyBlue;
                        padding: 23px 25px 27px 25px;
                        border-radius: $_half;
                    }    
                }

                &:last-child {
                    & img {
                        background: $typeChoosingPink;
                        padding: 25px;
                        border-radius: $_half;
                    }
                }
                & .pluses_type_describe {
                    h4 {
                        @include standardFontMontserrat();
                        font-size: 20px;
                        line-height: 32px;
                        text-align: center;
                        color: #6D31D0;
                    }
                    p {
                        @include standardFontAvenir400();
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        letter-spacing: 0.5px;
                        color: #434364;
                    }
                }
            }
        }
    }
}